# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project files
.git/
.gitignore
.vscode/
.idea/

# Backend specific
app.log
*.db
tests/
